/* ----------------- Mobile Started ----------------- */
.main_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.title {
    font-size: 20px;
    cursor: pointer;
}

.links_container {
    display: block;
    gap: 10px;
}

.link {
    cursor: pointer;
    display: block;
    padding: 8px 15px;
}

.open_menu_icon {
    display: block;
    cursor: pointer;
}

.links_container_mobile {
    display: block;
    cursor: pointer;
}
/* ----------------- Mobile Ended ----------------- */


@media (max-width: 730px) {
    .links_container {
        display: none;
    }

    .close_menu_icon {
        display: block;
        cursor: pointer;
    }

    .links_container_mobile {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.2);
    }

    .link_mobile {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }

    .link_mobile:hover {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 20px 15px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media (min-width: 725px) {
    .open_menu_icon, .close_menu_icon {
        display: none;
    }

    .links_container_mobile {
        display: none;
    }
}

@media (min-width: 725px) {
    .links_container {
        display: flex;
        gap: 10px;
    }
}


/* ----------------- Tablet or Desktop Started ----------------- */
@media (min-width: 495px) {
    .main_container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 45px 0;
    }
    
    .links_container {
        /* display: flex; */
        gap: 30px;
    }
    
    .title {
        font-size: 30px;
        cursor: pointer;
    }

    .link {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 15px;
    }

    .link:hover {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 8px 15px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* ----------------- Tablet or Desktop Ended ----------------- */