.main_container {
    width: 100%;
    /* height: 100%; */
    height: min(100% - 65px);
    overflow: scroll;
    padding: 0;
}

.title {
    text-align: left;
    font-size: 29px;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 19rem), 1fr));
    grid-gap: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.card {
    border-radius: 13px;
    box-shadow: -1px 3px 10px rgba(23, 23, 23, 0.2);
    margin: 2px;
    /* background-color: #363636; */
    /* background-color: #1a1919; */
    background-color: rgba(255, 255, 255, 0.1);
}

.name {
    /* color: #4282ad; */
    color: #fff;
    font-weight: 600;
    font-size: 19px;
}

.description {
    color: #ccc;
    font-weight: 400;
    font-size: 14px;
}

.content-card {
    padding: 10px 15px;
    padding-bottom: 20px;
}

@media (min-width: 495px) {
    .main_container {
        padding: 0;
    }

    .grid-container {
        grid-gap: 50px;
    }
      
    .image {
        width: 100%;
        height: 250px;
        object-fit: fill;
        padding: 0;
        margin: 0;
    }
}

@media (min-width: 850px) {
    .grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem)));
        grid-gap: 60px;
    }
}